/* modules/00_common/_form.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-form {
  & {

    &__group{
      display: flex;
      align-items: center;
      label{
        font-weight: $bold;
      }
      input{
        border: 1px solid color(bk,bdr);
      }
    }
  }

  @include pc {
    max-width: vw(750px, $pc);
    margin: 0 auto;
    
    &__group{
      &:not(:last-child){
        margin-bottom: vw(15px, $pc);
      }

      label{
        font-size: vw(20px, $pc);
        width: vw(220px, $pc);
      }
      input{
        font-size: vw(20px, $pc);
        flex: 1;
        border-radius: vw(5px, $pc);
        padding: vw(10px, $pc);
      }
    }
  }

}