/* modules/00_common/_form.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-form {
  & {
    @extend %container;

    &__group{
      display: flex;
      align-items: center;
      label{
        font-weight: $bold;
      }
      input{
        @include input;
      }
    }
  }

  @include pc {
    
    &__group{
      &:not(:last-child){
        margin-bottom: vw(15px, $pc);
      }

      label{
        font-size: vw(15px, $pc);
        width: vw(220px, $pc);
      }
    }

    &__input-wrap{
      flex: 1;
    }
  }

}