/* modules/00_common/_ttl.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-ttl {
  & {
    text-align: center;
    font-weight: $black;
    color: color(bk);
    letter-spacing: 0.1em;
  }

  @include pc {
    margin: vw(50px, $pc) 0;
    font-size: vw(30px, $pc);
  }
}