/* modules/01_register/_register.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-register {
  & {

    &__false,
    &__success{
      display: none;
      &.is-active{
        display: block;
      }
    }

    &__default{
      &.is-hidden{
        display: none;
      }
    }

    // &__link {
    //   flex: 1 1 10%;
    //   min-width: 0;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   font-weight: $bold;
    //   background: color(wt,bg);
    // }
  }

  @include pc {
  }

}