// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Var
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Font
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
$lh: 1.41;
$f-size: 15;
$f-base: "M PLUS Rounded 1c", sans-serif;

// Size
$break: 768;
$container: 1000px;
$pcH: 88px;
$spH: 64px;

// Contents Size
$pc: 1440px;
$sp: 390px;

// 画像パス
$imgPath: "../img/";
