/* modules/03_share/share-search.scss
-------------------------------------------------- */
@use "../../setting/import" as *;

.m-share-search{
  &{
    &__input{
      @include input;
    }

    &__submit-btn{
      @include icon(color(blu,thin), color(blu), 45px, 45px);
      &::after{
        @include svg;
        mask-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22300px%22%20height%3D%22300px%22%20viewBox%3D%220%200%20300%20300%22%20style%3D%22enable-background%3Anew%200%200%20300%20300%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3Anone%3Bstroke%3A%23333333%3Bstroke-width%3A20%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Ccircle%20class%3D%22st0%22%20cx%3D%22136%22%20cy%3D%22125.5%22%20r%3D%2271%22%2F%3E%20%3Cline%20class%3D%22st0%22%20x1%3D%22179%22%20y1%3D%22186.5%22%20x2%3D%22235%22%20y2%3D%22245.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');        background-color: color(blu);
    }
  }
}

  @include pc {
    &__form{
      display: flex;
      gap: 0 vw(20px, $pc);
    }

    &__input{
      flex: 1;
    }

    &__submit-btn{
      &:hover{
        background-color: color(blu);
        &::after{
          background-color: color(wt);
        }
      }
      &::after{
        width: vw(30px, $pc);
        height: vw(30px, $pc);
      }
    }
  }
}