<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h2>ログイン</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label>メールアドレス：</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>パスワード：</label>
            <input type="password" name="password" />
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
        <div th:if="${param.error}">
            <p style="color:red;">メールアドレスまたはパスワードが間違っています</p>
        </div>
    </form>
</body>
</html>
