/* setting/_base.scss
-------------------------------------------------- */
@use "../setting/import" as *;

.is-marker{
  &{
    background-color: color(ylw);
    font-weight: $black;
  }

  @include pc {
    border-radius: vw(5px, $pc);
    margin: 0 vw(5px, $pc);
    padding: vw(2.5px, $pc) vw(5px, $pc);
  }
}

.is-validError{
  &{
    color: color(pink);
    font-weight: $bold;
  }

  @include pc {
    font-size: vw(14px, $pc);
    margin-top: vw(7px, $pc);
  }

  @include sp {
    font-size: vw(14px);
    margin-top: vw(7px);
  }
}